figure {
  margin-top : 0em;
  margin-bottom: 2em;
  page-break-inside: avoid;
}

figure img {
  width: 70%;
}

.vision {
  font-style: italic;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.8em;
  background: white;
  border: thin outset black;
  border-radius: 0.5em;
  text-align: justify;
  font-size: 105%;
}

/* Table zebra style... */
table.zebra {
  font-size:inherit;
  font:100%;
  margin:1em;
}

table.zebra td {  
  padding-left: 0.3em;
}

table.zebra tr th:nth-child(1) {
  text-align: left;
}

table.zebra th {  
  font-weight: bold;  
  text-align: center;  
  background-color: steelblue !important;
  font-size: 110%;
  background: hsl(180, 30%, 50%); 
  color: #fff;
}

table.zebra th a:link {
  color: #fff;
}

table.zebra th a:visited {
  color: #aaa;
}

table.zebra tr:nth-child(even) { 
  background-color: hsl(180, 30%, 93%) 
}

table.zebra th{border-bottom:1px solid #bbb;padding:.2em 1em;}
table.zebra td{border-bottom:1px solid #ddd;padding:.2em 1em;}

ul.definition li, ol.definition li {
  margin-bottom: 0.3em;
}
ul.definition li ul, ol.definition li ul {
  margin-top: 0.3em;
}

div.my-example-title {
    min-width: 7.5em;
    color: #b9ab2d;
}
div.my-example-title  {
    text-transform: uppercase;
}

div.my-example {
    padding: 0.5em;
    padding: .5em;
    border-left-width: .5em;
    border-left-style: solid;
    border-color: #e0cb52;
    background: #fcfaee;
    page-break-inside: avoid;
}

div.my-example div.my-example-title {
    color: #999;
}

a.internalDFN {
    border-bottom:  0px solid #99c !important;
    font-style: italic;
}
